package.json
package-lock.json
jsdoc.json
/sdk/apidocs/**/*.*
/sdk/dist/**/*.*
/sdk/proto/**/*.*
/sdk/test/proto/**/*.*
/sdk/types/dist/**/*.*
/sdk/types/generated/**/*.*
/tck/dist/**/*.*
/tck/generated/**/*.*
/tck/proto/**/*.*
/testkit/dist/**/*.*
/testkit/example/generated/**/*.*
